---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Dr Shiri Lejay" description="About Dr Shiri Lejay">
  <main class="wrapper about">
    <Hero title="About me" tagline="Hi, I am Dr Shiri Lejay" />

    <section>
      <p>
        I am a mother and a paediatrician with 15 years of experience in the
        NHS. I believe that every parent deserves to be able to access advice
        and support from a paediatrician. The peer support in this country is
        wonderful, but unlike many other countries, it can be extremely
        difficult to find expert answers to your health questions and concerns.
        The most challenging period for this is often the first few months of
        life for new parents - when everything is new and you just want someone
        to be able to discuss concerns with, and who can shed some light on
        them.
      </p>
      <p>
        I believe that every parent knows far more than they think and I am here
        to help you to learn to feel empowered, and to trust your gut when it
        comes to your child’s health.
      </p>
    </section>
    <img
      src="/assets/portrait-bricks-red.jpg"
      alt="Dr Shiri Lejay wearing a red shirt and stethoscope, smiling at the camera"
      loading="eager"
    />
  </main>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--gray-200);
    text-wrap: pretty;
    text-align: center;
    font-size: var(--text-md);
  }

  img {
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    width: 100%;
  }

  @media (min-width: 50em) {
    section {
      display: contents;
      font-size: var(--text-lg);
    }

    img {
      height: 600px;
      object-fit: cover;
      object-position: 50% 20%;
    }
  }
</style>
