---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Dr Shiri Lejay" description="About Dr Shiri Lejay">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="Hi, I am Dr Shiri Lejay" />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a mother and a paediatrician with 15 years of experience in the
            NHS. I believe that every parent deserves to be able to access
            advice and support from a paediatrician. The peer support in this
            country is wonderful, but unlike many other countries, it can be
            extremely difficult to find expert answers to your health questions
            and concerns. The most challenging period for this is often the
            first few months of life for new parents - when everything is new
            and you just want someone to be able to discuss concerns with, and
            who can shed some light on them.
          </p>
          <p>
            I believe that every parent knows far more than they think and I am
            here to help you to learn to feel empowered, and to trust your gut
            when it comes to your child’s health.
          </p>
        </div>
      </section>
      <img
        width="1553"
        height="873"
        src="/assets/portrait-bricks-red.jpg"
        alt="Dr Shiri Lejay wearing a red shirt and stethoscope, smiling at the camera"
      />
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
