---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import ServiceDetail from "../components/ServiceDetail.astro";

// Page section components
import { Image } from "astro:assets";
import ContactCTA from "../components/ContactCTA.astro";

const services = await getCollection("services");
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="Hello, I am Dr Shiri Lejay"
          tagline="Your Family Paediatrician"
          align="start"
        />

        <Image
          alt="Dr Shiri Lejay standing in front of a brick wall wearing her scrubs and smiling"
          width="480"
          height="620"
          src="/assets/portrait-bricks-cropped.jpg"
          loading="eager"
        />
      </header>
      <section class="intro-text">
        <p>
          As a Paediatrician and a mother, I understand the depth of concerns
          about your child's health. You might feel helpless or overwhelmed, and
          most of all, confused about conflicting information.
        </p>
        <p>
          I can help you to make sense of the information overload, and ease
          your worries with simple, easy to follow advice.
        </p>
        <p>
          My mission is simple: To empower you to trust your instincts and to
          feel confident in making decisions about your child's health, and to
          guide and support you along the way.
        </p>
      </section>
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Services</h3>
        </header>

        <Grid>
          {
            services.map(service => (
              <li>
                <ServiceDetail service={service} />
              </li>
            ))
          }
        </Grid>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--gray-200);
    text-align: center;
    font-size: var(--text-md);
    text-wrap: pretty;
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }

    .intro-text {
      font-size: var(--text-lg);
    }
  }

  /* ====================================================== */

  .section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section-header {
    justify-self: center;
    align-self: center;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      gap: 5rem;
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
