---
import SubscribeModal from "./SubscribeModal.astro";
---

<aside>
  <section>
    <h2>Want to get notified for upcoming events?</h2>
    <SubscribeModal />
  </section>
</aside>

<style>
  aside {
    border-top: 1px solid var(--gray-800);
    border-bottom: 1px solid var(--gray-800);
    padding: 5rem 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  section {
    width: 100%;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 20ch;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7.5rem;
    }

    section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      font-size: var(--text-3xl);
      text-align: left;
    }
  }
</style>
