---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>
    Built by <a href="https://github.com/PLejay/your-family-paediatrician">
      Pierre Lejay
    </a>
  </p>
  <p>&copy; {currentYear} Dr Shiri Lejay</p>
</footer>
<style>
  footer {
    display: flex;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }
  }
</style>
