---
type Props = {
  href?: string;
  size?: "small" | "default";
};

const { href = "mailto:shiri@yourfamilypaediatrician.com", size = "default" } =
  Astro.props;
---

<a href={href} class:list={[{ small: size === "small", cta: true }]}>
  <slot />
</a>

<style is:global>
  .cta {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 0.56em 2em;
    gap: 0.8em;
    color: var(--accent-text-over);
    text-decoration: none;
    line-height: 1.1;
    border-radius: 999rem;
    overflow: hidden;
    box-shadow: var(--shadow-md);
    background-color: var(--accent-dark);
    white-space: nowrap;
    cursor: pointer;
    border: none;
    font-family: var(--font-brand);
    transition: background-color var(--theme-transition);
    &:hover {
      background-color: hsl(from var(--accent-dark) h s calc(l + 15));
    }
  }

  .cta.small {
    padding: 0.5rem 1.5rem;
  }

  @media (min-width: 20em) {
    .cta {
      font-size: var(--text-lg);
    }
  }

  @media (min-width: 50em) {
    .cta {
      padding: 1.125rem 2.5rem;
      font-size: var(--text-xl);
    }

    .cta.small {
      padding: 0.75rem 2rem;
      font-size: var(--text-lg);
    }
  }
</style>
